#sketchWindow {
    border: 5px solid black;
    height: 750px;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "sketch";
}

#gridContainer {
    grid-area: sketch;
    overflow: hidden;
}

#gridContainer > div {
    display: block;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: ". sketch ."
                        ". controls .";
    justify-items: center;
    grid-gap: 20px;
}

#controls {
    grid-area: controls;
}

#sketchWindow {
    grid-area: sketch;
}

button {
    width: 100px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}